<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations" value="config.properties"/>
		</bean>
		<bean id ="1stService" class="com.pwc.spring.test.service.FirstService" >
			<property name="dao" ref ="1stDao" >
			 
			</property>
			<property name="userList">
				<list>
					<value>123</value>
				</list>
			</property>

		</bean>
		<bean id ="sfRestService" class="com.pwc.spring.test.service.SfRestService" >
			<property name="USERNAME" value="${USERNAME}"></property>
			<property name="PASSWORD" value="${PASSWORD}"></property>
			<property name="LOGINURL" value="${LOGINURL}"></property>
			<property name="GRANTSERVICE" value="${GRANTSERVICE}"></property>
			<property name="CLIENTID" value="${CLIENTID}"></property>
			<property name="CLIENTSECRET" value="${CLIENTSECRET}"></property>
		</bean>
		<bean id = "1stDao" class="com.pwc.spring.test.dao.FirstDao">
		
		</bean>
		
</beans>